<div class="navbar">
  <!-- <div class="top">
        <mat-icon>
            notifications_none
        </mat-icon> 
     </div> -->
  <div class="user ps-5 ">
    <img
      src="https://cdn.pixabay.com/photo/2020/07/14/13/07/icon-5404125_960_720.png"
      alt=""
      height="150px"
      width="150px"
    />
    <h4 class="name">Admin</h4>
    <p class="mail">admin@gmail.com</p>
  </div>
  <div class="menu">
    <div class="menu-head">
      <span>Dashboard</span>
    </div>
    <div class="menu-item">
      <button mat-button class="menu-button" [routerLink]="['dashboard']">
        <mat-icon>dashboard</mat-icon>
        <span>Home</span>
      </button>
      <button mat-button class="menu-button" [routerLink]="['/business']">
        <mat-icon>account_tree</mat-icon>
        <span>Business</span>
      </button>
      <button mat-button class="menu-button" [routerLink]="['/users']">
        <mat-icon>people</mat-icon>
        <span>Users</span>
      </button>
      <button mat-button class="menu-button" [routerLink]="['/subscription']">
        <mat-icon>currency_rupee</mat-icon>
        <span>Subscription</span>
      </button>
      <button mat-button class="menu-button" [routerLink]="['/changePassword']">
        <mat-icon>lock_reset</mat-icon>
        <span>Change Password</span>
      </button>
      <button mat-button class="menu-button" [routerLink]="['/settings']">
        <mat-icon>settings</mat-icon>
        <span>App Config</span>
      </button>
      <button mat-button class="menu-button" routerLink="/login">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </div>
  </div>
</div>
