mat-card {
    margin-top: 20px;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    width: 20%;
}

mat-card-title {
    margin-top: 10px;
    margin-bottom: 15px;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: black;
}

mat-form-field {
    padding-top: 15px;
    padding-right: 10px;
    width: 35%
}

.sub-btn {
    width: 29%;
    padding: 25px;
    margin-bottom: 20px;
}

.main-div {
    margin-right: 4%;
}

i {
    padding-right: 8px;
}

table {
    width: 100%;
}

.mat-elevation-z8 {
    width: 100%;
    overflow-x: auto;
}

@media only screen and (max-width: 800px) {
    .mat-elevation-z8 {
        width: 95%;
        height: 40%;
    }

    mat-card {
        width: 50%;
    }
}

@media only screen and (max-width: 400px) {
    .mat-elevation-z8 {
        width: 98%;
        height: 45%;
    }

    mat-card {
        width: 50%;
    }
}

@media only screen and (max-width: 350px) {
    .mat-elevation-z8 {
        width: 90%;
        height: 90%;
    }

    mat-card {
        width: 50%;
    }
}

/* Common styles for form fields and buttons */
// mat-form-field,
// button {
//     // margin-right: 3px;
// }

/* Adjust the width of form fields based on screen size */
@media only screen and (max-width: 600px) {

    mat-form-field,
    mat-label {
        width: 48%;
        /* Make form fields full width on smaller screens */
        margin-right: 5px;
        /* Remove right margin to utilize the full width */
    }

    button {
        // width: 100%;
        /* Make the button full width on smaller screens */
        margin: 3px;
        /* Add spacing above and below the button */
    }

    .sub-btn {
        width: 95%;
    }
}

/* Adjust button padding for better visual appearance */
// button {
//     padding: 15px;
// }


// .trial-row {
//     background-color: orange;
// }

// .active-row {
//     background-color: green;
// }

// .expired-row {
//     background-color: red;
// }

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}