<!-- <footer class="pmd-footer bg-grey pmd-footer-dark" style="padding: 10px;">
    <div class="container">
        <div class="pmd-site-info text-md-left text-center">
            © 2018 A <a href="javascript:void(0);"><strong>Propeller</strong></a> Theme
        </div>
    </div>
</footer> -->

<footer class="footer">
    <div class="content">
        <div>
            <div>
                <!-- Content for smaller screens -->
                <p>&copy; 2024 DS BOX. All rights reserved. Distributed By : <a href="https://chordztechnologies.com/"
                        target="_blank">Chordz Technologies Pvt. Ltd.</a></p>
            </div>
            <!-- <div>
          <p>Address, Contact Info, Links, etc.</p>
        </div> -->
        </div>
    </div>
</footer>