mat-card {
    margin-top: 20px;
    justify-content: center;
    margin-right: 4%;
    background-color: rgb(238, 238, 238);
    height: 70px;
}

mat-card-title {
    margin-top: 10px;
    margin-bottom: 15px;
    justify-content: center;
    text-align: left;
    font-size: 20px;
    padding-left: 20px;
    color: black;
}

.main-div {
    margin-right: 4%;
}

i {
    padding-right: 8px;
}


table {
    width: 100%;
}

.mat-elevation-z8 {
    width: 100%;
    overflow-x: auto;
    // height: 350px;
}

@media only screen and (max-width: 800px) {
    .mat-elevation-z8 {
        width: 95%;
        height: 40%;
    }
}

@media only screen and (max-width: 400px) {
    .mat-elevation-z8 {
        width: 98%;
        height: 45%;
    }
}

@media only screen and (max-width: 350px) {
    .mat-elevation-z8 {
        width: 90%;
        height: 90%;
    }
}