<mat-card>
  <mat-card-title>
    <b><i class="fa-solid fa-gear"></i> App Configuration </b>
  </mat-card-title>
</mat-card>

<div class="main-div">
  <mat-form-field style="padding-top: 15px">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="configid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.configid }}</td>
      </ng-container>
      <ng-container matColumnDef="configname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Configuration</th>
        <td mat-cell *matCellDef="let row">{{ row.configname }}</td>
      </ng-container>

      <ng-container matColumnDef="configvalue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
        <!-- <td mat-cell *matCellDef="let row"> -->
          <td mat-cell *matCellDef="let row">{{ row.configvalue }}
          <!-- <ng-container *ngIf="row.configid !== 18">{{ row.configvalue }}</ng-container> -->
          <ng-container *ngIf="row.configid === 18"> {{ row.base64_code }}</ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell *matCellDef="let row">
          <button (click)="edit(row.configid)">
            <mat-icon color="primary">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator> -->
  </div>
</div>