mat-card {
  margin-top: 20px;
  justify-content: center;
  margin-right: 4%;
  background-color: rgb(238, 238, 238);
  height: 70px;
}

mat-card-title {
  margin-top: 10px;
  margin-bottom: 15px;
  justify-content: center;
  text-align: left;
  font-size: 20px;
  padding-left: 20px;
  color: black;
}

.main-div {
  margin-right: 4%;
}

table {
  width: 100%;
}

i {
  padding-right: 8px;
}

.mat-elevation-z8 {
  width: 100%;
  overflow-x: auto;
  // height: 350px;
}

@media only screen and (max-width: 800px) {
  .mat-elevation-z8 {
    width: 95%;
    height: 45%;
  }
}

@media only screen and (max-width: 400px) {
  .mat-elevation-z8 {
    width: 300px;
    height: 300px;
  }
}

@media only screen and (max-width: 350px) {
  .mat-elevation-z8 {
    width: 90%;
    height: 90%;
  }
}


.main-body {
  padding: 20px;
  max-width: 1248px;

  mat-form-field {
    width: 100%;
  }

  #drop-zone {
    width: 300px;
    height: 200px;
    border: 2px dashed #ccc;
    text-align: center;
    line-height: 200px;
    font-family: 'Arial', sans-serif;
  }
}