mat-card {
    margin-top: 20px;
    justify-content: center;
    margin-right: 35px;
    background-color: rgb(238, 238, 238);
    height: 70px;
}

mat-card-title {
    margin-top: 10px;
    margin-bottom: 15px;
    justify-content: center;
    text-align: left;
    font-size: 20px;
    padding-left: 20px;
    color: black;
}

table {
    width: 100%;
}